<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Product Manager</title>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
                    </head>
                    <body>
                        <div align="center">
                            <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
                            <h1>Product List</h1>
                            <a href="new">Create New Product</a>
                            <br/><br/>
                            <table border="1" cellpadding="10" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Customer</th>
                                        <th>SO</th>
                                        <th>PO</th>
                                        <th>String Line</th>
                                        <th>Date</th>
                                        <th>Designer</th>
                                        <th>Folder Link</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product : ${listProducts}">
                                        <td th:text="${product.id}">ID</td>
                                        <td th:text="${product.customer}">Customer</td>
                                        <td th:text="${product.so}">SO</td>
                                        <td th:text="${product.po}">PO</td>
                                        <td th:text="${product.stringline}">String Line</td>
                                        <td th:text="${product.date}">Date</td>
                                        <td th:text="${product.designer}">Designer</td>
                                        <td th:text="${product.folder}">Folder Link</td>
                                        <td>
                                            <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>    
                    </body>
                    </html>