<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Create New Product</title>
    </head>
    <body>
        <div align="center">
            <h1>Create New Product</h1>
            <br />
            <form action="#" th:action="@{/save}" th:object="${product}"
                  method="post">

                <table border="0" cellpadding="10">
                    <tr>
                        <td>Customer:</td>
                        <td><input type="text" th:field="*{customer}" /></td>
                    </tr>
                    <tr>
                        <td>SO:</td>
                        <td><input type="text" th:field="*{so}" /></td>
                    </tr>
                    <tr>
                        <td>PO:</td>
                        <td><input type="text" th:field="*{po}" /></td>
                    </tr>
                    <tr>
                        <td>String Line:</td>
                        <td><input type="text" th:field="*{stringline}" /></td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td><input type="text" th:field="*{date}" /></td>
                    </tr>
                    <tr>
                        <td>Designer:</td>
                        <td><input type="text" th:field="*{designer}" /></td>
                    </tr>
                    <tr>
                        <td>Folder:</td>
                        <td><input type="text" th:field="*{folder}" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Save</button> </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>